{% extends 'adminpages/adminbase.html' %}
{% block title %}Products Details{% endblock %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% comment %} <h3>All product list</h3> {% endcomment %}
      <a style="margin-top:20px;" class="btn btn-primary" href="{% url 'appGurkha:adminproductcreate' %}">Add New Product</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S.N</th>
            <th>Product Title</th>
            <th>Image</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Views</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for p in allproducts %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{p.title}}</td>
            <td><img src="{{p.image.url}}" style="height: 60px" alt="" /></td>
            <td>{{p.stock}}</td>
            <td>{{p.selling_price}}</td>
            <td>{{p.view_count}}</td>
            <td>
              <a href="{% url 'appGurkha:admin-product-edit' product_id=p.id %}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
              <form action="{% url 'appGurkha:adminproductdelete' pk=p.id %}" method="post" style="display: inline-block;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete \'{{ p.title }}\'?')"><i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}