{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-center mb-4">Contact Us</h1>
            <p class="lead text-center">For inquiries or assistance, please feel free to reach out to us:</p>
            <ul class="list-group">
                <li class="list-group-item"><strong>Email:</strong> info@gadgetgurkha.com</li>
                <li class="list-group-item"><strong>Phone:</strong> +977-9862155488</li>
                <li class="list-group-item"><strong>Address:</strong> Gadget Gurkha Pvt. Ltd., Kathmandu, Nepal</li>
            </ul>
            <div class="text-center mt-4">
                <p>Our dedicated team is available to assist you with any questions or concerns you may have.</p>
                <p>We look forward to hearing from you!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
