{% extends 'adminpages/adminbase.html' %} 
{% block title %}Forget Password{% endblock %}
{%block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
                <h3>Check your registerd email for password reset link.</h3>
            {% else %}
            <h3>Enter your email for password reset</h3>
                {% if request.GET.m == "e" %}
                    <h3 class="text-danger">Something Went Wrong, Please Enter the valid email again!!</h3>
                {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Get Reset Link</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}